name: assets-sync-ci
on:
  pull_request:
    branches: master
  push:
    branches: master

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: prepare test data
        run: |
          mkdir -p root
          echo "Test file" > root/test.txt
          mkdir -p root2
          echo "Test file 2" > root2/test.txt
      - name: sync test
        uses: ./
        with:
          repos: |
            at-wat/assets-sync-action
          git_user: Atsushi Watanabe
          git_email: atsushi.w@ieee.org
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dryrun: true
      - name: sync test with root_dir option
        uses: ./
        with:
          repos: |
            at-wat/assets-sync-action
          root_dir: root2
          git_user: Atsushi Watanabe
          git_email: atsushi.w@ieee.org
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dryrun: true

