name: assets-sync-ci
on:
  pull_request:
    branches: master

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Prepare test data
        run: |
          mkdir -p test-assets
          echo 'data' > test-assets/synced-file.txt
      - name: sync test
        uses: ./
        with:
          repos: at-wat/assets-sync-action
          root_dir: test-assets
          commit_message: 'E2E assets sync test ${{ github.sha }}'
          branch: 'e2e-${{ github.sha }}'
          git_user: Atsushi Watanabe
          git_email: atsushi.w@ieee.org
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dryrun: false
      - name: Check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr view 'e2e-${{ github.sha }}' \
              --json title,body,author,files \
            | jq > actual.json
          cat <<EOS | jq > expected.json
          {
            "author": {
              "is_bot": true,
              "login": "app/github-actions"
            },
            "body": "",
            "files": [
              {
                "path": "synced-file.txt",
                "additions": 1,
                "deletions": 0
              }
            ],
            "title": "E2E assets sync test ${{ github.sha }}"
          }
          EOS
          diff -up expected.json actual.json
      - name: Cleanup
        if: always()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr close 'e2e-${{ github.sha }}' --delete-branch
